footer {
  background-color: #011627;
  color: white;
  height: 9 00px;

  h2 {
    margin-left: 650px;
    font-family: "Kalnia Glaze", serif;
    font-size: 59px;
  }

  .p1 {
    margin-left: 690px;
    margin-top: 20px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 20px;
  }

  p {
    margin-left: 750px;
    margin-top: 15px;
    font-size: 20px;
  }

  img {
    margin-left: 800px;
    margin-top: 100px;
  }

  #text {
    font-size: 9px;
    font-family: "Kalnia Glaze", serif;
    align-items: center;

    .text1 {
      margin-left: 420px;
      margin-top: 97px;
    }

    .text2 {
      margin-left: 600px;
      margin-top: -20px;
    }

    .text3 {
      margin-left: 750px;
      margin-top: -20px;
    }

    .text4 {
      margin-left: 930px;
      margin-top: -20px;
    }

    .text5 {
      margin-left: 1200px;
      margin-top: -20px;
    }
  }

  .paragrf1 {
    color: #616d78;
    align-items: center;

    .para1 {
      margin-left: -350px;
      margin-top: -10px;
    }

    .para2 {
      margin-top: -110px;
      margin-left: -160px;
    }

    .para3 {
      margin-top: -150px;
      margin-left: -20px;
    }

    .para4 {
      margin-left: 180px;
      margin-top: -150px;
    }

    .para5 {
      display: flex;

      .instagram {
        margin-left: 400px;
        margin-top: -200px;
      }

      .facebook {
        margin-left: -780px;
        margin-top: -200px;
      }

      .twitter {
        margin-left: -780px;
        margin-top: -200px;
      }
    }
  }

  .NR {
    p {
      margin-top: 150px;
      margin-left: 590px;
    }

    h1 {
      padding-left: 800px;
      padding-top: 100px;
    }
  }
}
